* {
    box-sizing: border-box;
}

.body1{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
    width: 100%;
    font-family: -webkit-pictograph;
    margin: 0;
    text-align: center;
}

.container1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.header1{
    position: initial;
    background:#005285;
    color:white;
    text-align:center;
    width:100%;
    height: 10%;
}

.portal{
    height: auto;
    margin-top: 50px;
    margin-right: 300px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 );
}

.login{
    color: #1a2537;
    font-size: 20px;  
    top: 100px;
    width: 200px;
    height: 110px;
    position: absolute;
}
.input{
    margin-top: 130px;
}

.image{
    height: 200px;
    align-content: center;

}
.input-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
    padding: 5px;
    padding-right: 50px;
    border-radius: 5px;  
}

.button{
    background-color: #005285;
    color: white;
    font-size: 150%;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.boton{
    font-size: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.opcion-registro{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
    align-items: baseline;
}


.contenedor-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;   
}


.inputs{
    padding: 10px;
    padding-right: 200px;
    align-items: center;
    text-align: start;
}

.btn-submit{
    font-size: 150%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.footer1{
    font-size: 20px;
    height:60px;
    position: absolute;   
    background:#005285;
    color:white;
    text-align:center;
    bottom:0;
    padding-top: 15px;
    left:0;
    width:100%;
}

.body2{
    position: absolute;
    background-size: 100%;
    margin: auto;
    height: 100%;
    width: 100%;
    font-family: -webkit-pictograph;
    margin: 0;
    text-align: center;
}

.container2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.header2{
    position: initial;
    background:#005285;
    color:white;
    text-align:center;
    width:100%;
}

.form{
    margin: auto;
    width: fit-content;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 1px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0);
}

.footer2{
    font-size: 20px;
    height:60px;  
    background:#005285;
    color:white;
    text-align:center;
    bottom:0;
    left:0;
    width:100%;
}

.formInforme{
    background-color: #77d4d254;
    margin: auto;
    width: fit-content;
    float: left;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 1px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 0 #77d4d254;
}

.form2{
    background-color: #77d4d254;
    margin: auto;
    width: 70%;
    float: right;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1px;
    padding-bottom: 225px;
    box-shadow: 0 0 10px 0 #77d4d254;
}

.form3{
    background-color: #77d4d254;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 #77d4d254;
}