* {
    box-sizing: border-box;
}

.body1{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
    width: 100%;
    font-family: monospace;
    margin: 0;
    text-align: center;
}

.container1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.header1{
    position: initial;
    background:#005285;
    color:white;
    text-align:center;
    width:100%;
    height: 10%;
}

.portal{
    height: auto;
    margin-top: 100px;
    margin-right: 300px;
    border-radius: 8px;
    padding: 50px 40px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 );

}

.login{
    color: #1a2537;
    font-size: 20px;  
    top: 150px;
    width: 200px;
    height: 110px;
    position: absolute;
}
.input{
    margin-top: 100px;
}

.image{
    height: 200px;
    align-content: center;

}
.input-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
    padding: 5px;
    border-radius: 5px;  
}

.button{
    background-color: #005285;
    color: white;
    font-size: 120%;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.footer1{
    font-size: 20px;
    height:60px;
    position: absolute;   
    background:#005285;
    color:white;
    text-align:center;
    bottom:0;
    left:0;
    width:100%;
}




.body2{
    position: absolute;
    background-size: 100%;
    margin: auto;
    height: 100%;
    width: 100%;
    font-family: monospace;
    margin: 0;
    text-align: center;
}

.container2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.header2{
    position: initial;
    background:#005285;
    color:white;
    text-align:center;
    width:100%;
}

.form{
    margin: auto;
    width: fit-content;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 1px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0);
}


.footer2{
    font-size: 20px;
    height:60px;  
    background:#005285;
    color:white;
    text-align:center;
    bottom:0;
    left:0;
    width:100%;
}